.container {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  padding: 70px 90px;
  max-width: 600px;
  border-radius: 6px;
}

footer {
  font-family: monospace;
  font-size: 10px;
  color: #6d7f88;
  padding-top: 20px;

  text-align: center;
}

.name {
  color: #6d7f88;
  font-family: monospace;
  font-size: 10px;
}

.iconreference {
  color: #6d7f88;
  font-family: monospace;
  font-size: 5px;
}
