.FormattedDate {
  font-size: 9px;
  padding-bottom: 10px;
}

.MainWeather h1 {
  text-align: center;
}

.MainWeather .text-capitalize {
  font-size: 9px;
  float: right;
  line-height: 4px;
}

.MainWeather .icon {
  padding-top: 13px;
  line-height: 4px;
}

.MainWeather .col-1 {
  font-size: 80px;
  line-height: 70px;
  font-weight: 100;
}

.MainWeather .wrh {
  padding-bottom: 20px;
}

.FutureForcast {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 2px;
}

.FutureForcast .km {
  font-size: 10px;
}

.Unittemp .temp {
  font-size: 60px;
}

.Unittemp .units {
  font-size: 11.5px;
  position: relative;
  top: -36px;
  left: 2px;
}
