.FormattedDate {
  font-size: 9px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
}

.Unittemp .temp {
  font-size: 60px;
}

.Unittemp .units {
  font-size: 11.5px;
  position: relative;
  top: -36px;
  left: 2px;
}

.text-capitalize {
  font-size: 9px;
  float: right;
  line-height: 4px;
}

.icon {
  padding-top: 13px;
  line-height: 4px;
}

.col-1 {
  font-size: 80px;
  line-height: 70px;
  font-weight: 100;
}
