.Weather {
  border: 1px solid black;
  padding: 20px;
  border-radius: 40px;
  text-align: center;
}

.searchbutton {
  border: 1px solid black;
  padding: 4px 10px;
  border-radius: 10px;
  margin-left: 30px;
}

.searchbar {
  border: 1px solid black;
  padding: 4px 60px 4px 4px;
  border-radius: 10px;
}

.currentLoc {
  cursor: pointer;
  position: relative;
  top: -31px;
  left: -20px;
}

.Search {
  padding-top: 10px;
}
